/* variabile */
$latime-buton: 115px;
$inaltime-buton: 30px;
$transition-fast: 0.3s linear;
$transition-slow: 0.6s ease-in-out;
$culoare-text: black; 

/* placeholders */
%dimensiuni-buton {
  width: var(--latime-buton);
  height: var(--inaltime-buton);
}

%reset-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%stil-meniu-mobil-fundal {
  background-color: var(--bordercolor) !important;
}

/* nav */
nav {
  --latime-buton: #{$latime-buton};
  --inaltime-buton: #{$inaltime-buton};
  background-color: var(--bordercolor);
  position: relative; /*ancora pentru meniul mobil */
}

#hamburger, #ch-menu {
  display: none;
} 

ul.meniu {
  @extend %reset-lista;
  display: flex; 
  position: relative;

    /*toate link urile meniului */

  a {
    text-decoration: none !important;
    color: $culoare-text !important;
    display: block; /*sa se poata da click pe toata zona din li*/
    width: 100%;
    height: 100%;
    font-size: 1rem; 

    i {
      color: $culoare-text !important;
    }
  }

  > li { /*exclusiv meniul principal*/
    display: inline-block; /*pentru dimensiuni fixe inline */
    @extend %dimensiuni-buton;
    background-color: var(--culoare-fundal);
    border: 1px solid var(--bordercolor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: var(--inaltime-buton);
    position: relative;  
    z-index: 1; /* elementul vine peste fundal*/
    transition: all $transition-fast;

    &::after { 
      content: "";
      position: absolute;
      top: 0; /* coltul stanga sus al butonului*/
      left: 0;
      width: 100%;
      height: 4px;
      background: linear-gradient(to right, black, white, black);
      opacity: 0;
      transform: translateY(-100%); /*bara se muta deasupra butonului cu inaltimea barii*/
      transition: all 0.5s ease; 
      pointer-events: none; /*se ignora la hover*/
      z-index: 0; 
    }

    &:hover {
      background-color: var(--bordercolor);
      filter: brightness(1.1); 

      &::after {
        transform: translateY(calc(var(--inaltime-buton) - 4px)); /*bara coboara in jos pe Oy cu h buton - 4px*/
        opacity: 1; 
      }
    }

    
  }

  

  ul { /* submeniurile*/
    position: absolute;
    top: 100%; /* apare imediat sub butonul parinte*/
    left: 0;
    z-index: 10; 
    list-style: none;
    padding: 0;
    margin: 0;
    
    transform: scale(0); /* incepe invizibil scalat la 0*/
    transform-origin: center; /* punctul de origine pentru scalare */
    opacity: 0; 
    transition: transform $transition-slow, opacity $transition-slow; 

    li {
      background-color: var(--culoare-fundal);
      @extend %dimensiuni-buton;
      border: 1px solid var(--bordercolor);
      
      &:hover {
        background-color: var(--bordercolor);
        filter: brightness(1.25);
      }
      
      /*&::after {
        display: none !important; 
      }*/
    }
  }

  li:hover > ul { /* submeniul vizibil scalat la dimensiunea normala */
    transform: scale(1); 
    opacity: 1;
  }
}





/* tableta */
@media (max-width: 1000px) {
  .text-icon { 
    display: none; 
  }

  ul.meniu {
    > li { 
      width: 60px; 
      min-width: 60px; 
    }

    // text mai mic
    ul li a {
      font-size: 0.75rem !important; 
      line-height: var(--inaltime-buton); 
    }
  }
}





/* mobil */
@media (max-width: 700px) {
  #hamburger {
    display: block;
    cursor: pointer; /* schimba sageata in mana*/
    img {
      height: 2em; 
    }
  }

  ul.meniu {
    all: unset;
    display: block !important; /* meniul va ocupa toata latime*/
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--culoare-fundal);
    clip-path: circle(0% at 0 0); /* invizibil ca un cerc mic in coltul stanga sus*/
    transition: clip-path $transition-slow;
    pointer-events: none; /* nu poate fi accesat pana nu devine vizibil */

    li {
      display: block;
      width: 100% !important;
      border-bottom: 1px solid var(--bordercolor);
      @extend %stil-meniu-mobil-fundal;
      height: auto !important;
      line-height: normal !important;

      &::after { 
        display: none !important;
        content: none !important;
      }

      a {
        padding: 15px;
        text-align: center;
        text-decoration: none !important;
        color: $culoare-text !important;
        font-size: 1.1rem !important; 
      }

      ul {
        display: none !important; /* submeniu initial ascuns*/
        position: static !important; /* submeniurile vor fi in fluxul normal si vor impinge mai jos restul elem*/
        transform: scale(1) !important;
        opacity: 1 !important;
        width: 100% !important;
        @extend %stil-meniu-mobil-fundal;

        li {
          padding-left: 0;
          @extend %stil-meniu-mobil-fundal;
          
          a {
            padding: 10px 15px;
            font-size: 0.95rem !important; 
          }
        }
      }

      &:hover > ul {
        display: block !important; /* submeniu vizibil la hover peste parinte*/
      }
    }
  }

  #ch-menu:checked + ul.meniu { /* fratele urmator inclus in nav apare la click*/
    clip-path: circle(150% at 0 0);
    pointer-events: auto; /*meniurile pot fi accesate*/
  }

  ul.meniu {
    i { 
        display: none !important; /* iconite ascunse*/
        color: $culoare-text !important; 
    }

    > li:first-child { /*butonul Acasa, primul copil direct*/
      i { display: inline-block !important; }
      .text-icon { display: none !important; }
    }

    > li:not(:first-child) .text-icon {
      display: inline-block !important; 
    }
  }
}