<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Beauty Hub - despre</title>
    <meta name="description" content="Istoricul si descrierea site-ului Beauty Hub. Aici vei gasi informatii despre misiunea noastra, valorile pe care le promovam si echipa din spatele acestui proiect dedicat pasionatilor de makeup. Descopera cum am inceput, ce ne inspira si cum ne propunem sa aducem cele mai bune produse si sfaturi pentru frumusetea ta.">
    <meta name="keywords" content="makeup, Beauty Hub, fond de ten, corector, ruj, paletă de farduri, mascara, tuș lichid, creion de buze, evenimente, natural, tendințe">

    <%- include('../fragmente/head.ejs') %>
    
    
</head>

<body>
    
    <%- include('../fragmente/header.ejs') %>
    <main> 
        A doua pagină a site-ului, despre noi.
    </main>

<!-- Footer -->
    <%- include('../fragmente/footer.ejs') %>
</body>
</html>