
.grid-produse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 0.2rem;
}


.grid-produse .produs {
    border-radius: 1rem;
    box-shadow: 0px 0px 0.8rem 0.3rem rgba(0,0,0,0.15);
    overflow: hidden;
    background-color: #fff; 
    position: relative;
    padding-bottom: 3.5rem; 
    display: flex;
    flex-direction: column;
}


.grid-produse .produs h3 {
    margin: 0;
    padding: 0.75rem;
    background-color: var(--culoare-roz-inchis, #d4a3b8);
    text-align: center;
}


.continut-produs {
    display: flex;
    padding: 1rem;
}


.coloana-stanga {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left;    
    gap: 1rem;
}


.coloana-stanga figure {
    margin: 0.5rem 0;
    text-align: center;
}


.coloana-stanga figure img {
    width: 260px;
    height: 260px;
    object-fit: contain; 
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.4rem;
    background: #f2d2fad5;
    transition: transform 0.2s ease-in-out;
}


.coloana-stanga figure img:hover {
    transform: scale(1.05);
}


.caracteristici {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 0.8rem; 
    width: 95%;        
}


.eticheta {
    font-weight: bold;
    background-color: #f2d2fad5; 
    color: white;
    padding: 0.1rem 0.35rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 0.75rem;
}


.coloana-dreapta {
    width: 40%;
    border-left: 1px dashed #ccc;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 0.85rem; 
   padding-top: 5rem;
}


.categorie-text, .descriere-text, .coloana-dreapta p {
    margin: 0;
    line-height: 1.4;
}


.selecteaza-cos {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: var(--culoare-mov, #e2d1f9);
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid #ccc;
}

#div-calcul-dinamic {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7CACE6;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    font-weight: bold;
}