<footer>
        <address>
            Telefon: <a href="tel:+40749607086">+40 749 607 086</a><br>
            Adresă: <a href="https://maps.app.goo.gl/1NCDAp3DUGyK2ovE6" target="_blank">Str. Exemplu 1,
                București</a><br>
            Email: <a href="mailto:contact@beautyhub.ro">contact@beautyhub.ro</a><br>
            WhatsApp: <a href="https://wa.me/40749607086">Chat cu echipa noastră</a>
        </address>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884114398508!2d26.09701177666127!3d44.43553930148104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1772988854421!5m2!1sro!2sro"
            width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
        <p><small>&copy; <time datetime="2026-03-08">8 martie 2026</time> Beauty Hub</small></p>
        <p><a href="#top" class="scroll-top" title="Revino la începutul paginii">
                <span class="arrow">&#8593;</span>
            </a>
        </p>
        <p class="banner-proiect">Acesta este un proiect școlar!</p>
    </footer>