<header>
        <h1>Beauty Hub</h1>
        <img src="/Resurse/Imagini/sigla-fara-fundal.png" alt="sigla" />
        <nav>

            <label id="hamburger" for="ch-menu">
                <img src="/Resurse/Imagini/Hamburger_icon_alb.png" alt="menu">
            </label>

            <input type="checkbox" id="ch-menu" />

            <ul class="meniu">

                <li>
                    <a href="#">
                        <i class="fas fa-house"></i>
                        <span class="text-icon"> Acasă</span> 
                    </a>

                    <ul>
                        <li><a href="/index#welcome">Bine ai venit</a></li>
                        <li><a href="/index#promotii">Promoții</a></li>
                        <li><a href="/index#hot-drops">Hot Drops</a></li>
                        <li><a href="/index#produse">Produse</a></li>
                        <li><a href="/index#evenimente">Evenimente</a></li>
                        <li><a href="/index#despre-noi">Despre noi</a></li>
                        <li><a href="/index#tutoriale-makeup">Tutoriale </a></li>
                        <li><a href="/index#subsol">Contact</a></li>
                    </ul>
                </li>

                <li>
                     <a href="#">
                        <i class="fa-solid fa-circle-user"></i>
                        <span class="text-icon"> Sign in</span> 
                    </a>
                </li>

                <li>
                    <a href="#">
                         <i class="fa-solid fa-gem"></i>
                        <span class="text-icon"> Branduri</span> 
                    </a>
                    <ul>
                        <li><a href="#">Luxury</a></li>
                        <li><a href="#">Profesionale</a></li>
                        <li><a href="#">Accesibile</a></li>
                        <li><a href="#">Vegan </a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-gifts"></i>
                        <span class="text-icon"> Produse</span>
                    </a>
                    <ul>
                        <li><a href="#">Toate</a></li>
                        <li><a href="#">Makeup</a></li>
                        <li><a href="#">Skincare</a></li>
                        <li><a href="#">Accesorii</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="text-icon"> Coșul meu</span>
                    </a>
                </li>

                <li>
                    <a href="#subsol">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="text-icon"> Contact</span>
                    </a>
                </li>

            </ul>

        </nav>
        <div class="c1" id="titlu">
            <h1 id="t" class="bonbon-regular">Beauty <span>Hub</span> <i class="fa-regular fa-star fa-bounce"></i>
            </h1>
        </div>
    </header>